/* body {
    color: wheat;
    background-color:violet;
}

#parent {
    background-color: darkcyan;
    color: blueviolet;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child {
    color:gold;
}


button {
 font-size: 18px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color: chartreuse;
}
img {
    height: 15px;
    width: 15px;
}
.alert-text {
    color: red;
}

#title {
    color: indigo;
    background-color: springgreen;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
* {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    /*box-sizing: border-box;*/
}

/*
.box.one {
    background-color:blue;
    padding: 20px;
    height: 150px;
    width: 150px;
    border: 20px solid black;
    margin: 15px;
    
}

.box.two {
    background-color: tomato;
    border: 0 solid yellow;
}

.box.three {
    background-color: blueviolet;
    border: 0 solid green;
} */
body {
    background: #eee;
    font-family: sans-serif;
}

.div.one {
    padding: 32px;
    border: 3px solid green;
    margin: 12px;
}

.div.two {
    padding: 5px;
    border: 10px solid blue;
    margin-bottom: 48px;
}
.div.three {

    padding: 32px;
    border: 10px solid red;
    width: 200px;
    margin-left: auto;
}